
body{
    text-align: center;
}
.error {
    color: red;
}
#ex{
    position: relative;
    left: 42%;
    width: 250px;
}
footer{
    position: relative;
    padding: 20px;
    bottom: 0px;
}
.contentBoxes{
	border: 1px solid grey;
	margin-left: 15%;
	margin-right: 15%;
	font-family: Times New Roman;
}
.subtitle{
	background-color: #dddddd;
	margin-top: 10px;
	font-family: Helvetica;

}
pre {
    max-height:200px;
    overflow-y: scroll;
	word-break: keep-all;        /*keep all words together*/
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
