/*
ideas about cleaning up css:
https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685

CSS is ordered as it appears on the page:
TOP - BOTTOM / LEFT - RIGHT
    1. Starting with the @mediaQueries
        a. Desktop / Notebook
            1. Firefox
            2. Chrome
            3. IE
            4. Safari
            5. Opera
        b. Android Phones
        c. Android Tablets
        d. iPhones
        e. iPads
        f. Windows Phones
        g. Windows Tablets

    3. Then the body.
        ??
    3. Then the header.
        a. Home Button
        b. Search Box
        c. Test Button
        d. User Button
        e. Drop Down
    4. then the content.
        a. Miscellaneous
        b. Title
        c. Content
    5. then the footer.
        a. Copyright
        b. Info Links
*/

/* Media Queries */

    input::-webkit-input-placeholder {

    }
    input:focus::-webkit-input-placeholder {


    }
    /* Firefox < 19 */
    input:-moz-placeholder {

    }
    input:focus:-moz-placeholder {

    }
    /* Firefox > 19 */
    input::-moz-placeholder {

    }
    input:focus::-moz-placeholder {

    }
    /* Internet Explorer 10 */
    input:-ms-input-placeholder {

    }
    input:focus:-ms-input-placeholder {

    }
    .a-btn{


    }
/*Body*/
    body{
    }
    ul{

    }
    li a {

    	}
    li:last-child {

    }
    th{

    }


/*  Header  */
    #txtHeader{
        display: flex;
        background-color: #666699;
        position: fixed;
        height: 48px;
        width: 100%;
        top:0;
        z-index: 1;
    }
    .icon{
        pointer-events: none;
    }
/* Header: Home Button*/
    #btnHome{
        display: inline-block;
        position: relative;
        float: left;
        height: 48px;
    }
    #linkHome{
        display: inline-block;
        position: relative;
        height: 48px;
        text-decoration: none;
    }
    #imgHome{
        height: 48px;
    }
/*  Header: Search box*/
    #searchBox{
        display: flex;
        position: relative;
        justify-content: flex-end;
        flex-grow: 1;
        margin-left: 15px;
        margin-right: 45px;
        height: 48px;
        padding-top: 6px;
        padding-right: 0;
    }
    @media all and (max-width: 480px) {
        .searchBar{
            visibility: hidden;
            display: none;
        }
        #searchBox{
            width: 40px;
            margin-right: 15px;
        }
        #btnSearch:before{
            color: #000000;
            font-size: 22pt;
        }
        #btnSearch{
            background-color: #666699;
            border-color: #666699;
            margin-top: -6px;
            margin-right: 15px;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    #searchInput{
        flex: auto;
        display: inline-block;
        position: relative;
        max-width: 400px;
        float: right;
        text-align: right;
        height: 35px;

    }
    #btnSearch{
        height: 35px;
        padding-top: 5px;
        font-size: 16pt;
        display: inline-block;
        position: relative;
        margin-right: 0;
    }
/* Header: Basic Nav Icons */
    #basicNav{
        display: inline-block;
        position: relative;
        float: right;
        right: 0;
        min-width: 186px;
    }
    #userTest{
        display: inline-block;
        position: relative;
        margin-right: 15px;
        text-decoration: none;
    }
    #imgUserButton{
        margin-top: 7px;
        height: 30px;
    }
    #userNotifications{
        display: inline-block;
        position: relative;
        margin-right: 15px;

    }
    #userAccount{
        display: inline-block;
        position: relative;
        margin-right: 15px;
        text-decoration: none;
    }

    #userAccount{

    }


    /*Header: Basic Nav: ☰ Drop Down*/
    #dropDownNav{
        display: inline-block;
    	position: relative;
    	float: right;
        cursor: pointer;
        margin-top: 0;
        margin-right: 0;
    }
    #menuButton{
        background:none;
        display: block;
        position: relative;
        margin-right: 20px;
        color: #000000;
        text-decoration: none;
        font-size: 24pt;
    }
    #arrow{
        top: 27px;
        position: absolute;
        font-size: 22px;
        right: 25px;
        color: black;
        z-index: -1;
    }
    #dropDownBox {
        display: none;
        width: 110px;
        float: right;
        position: fixed;
        right:15px;
        background-color: #ffffff;
        border: 2px solid black;
    }
    .menu-links{
        font-size: 16px;
        width: 100%;
    }

/*  Content */
    /*  Miscellaneous   */
    #txtViewAs{

    }
    #btnAddNewRow{
    }

    #txtRoute{

    }
    #currentPage{
        text-align: center;
    }
    #txtContent{
        max-width: 800px;
        margin: auto;
    }
/*  Footer  */
    a.footer-link{

    }
    a.footer-link:hover{

    }

    #txtFooter{
        display: inline-block;
        position: relative;
        width: 100%;
        height: 25px;
        padding-bottom: 0px;
        bottom: 0px;
    }

    #leftFooter{
        display: inline-block;
        position: relative;
        margin-left: 20px;
        vertical-align: middle;
        padding: 2px;
    }
    #txtCopyright{

    }

    #rightFooter{
        display: inline;
        vertical-align: middle;
        position: relative;
        float: right;
        padding: 2px;
        margin-right: 20px;
    }
