
input::-webkit-input-placeholder {
    color: #c6c6c6;
}
input:focus::-webkit-input-placeholder {
    color: #c6c6c6;
    font-style: italic;

}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #c6c6c6;
}
input:focus:-moz-placeholder {
    color: #c6c6c6;
        font-style: italic;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #c6c6c6;
}
input:focus::-moz-placeholder {
    color: #c6c6c6;
        font-style: italic;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #c6c6c6;
}
input:focus:-ms-input-placeholder {
    color: #c6c6c6;
        font-style: italic;
}
.a-btn{
    background-color: #666699;
    color: white;
}

#nav:hover{
    float: right;
    right:0;

}
#nav{
    float: right;
    right:0;
    border: 2px solid #330033;
}
#hover{
    color: #660066;
    font-size: 16pt;
    font-weight: bold;
}
#btnTest{
    width: 25px;
    height: 25px;
}
#menu{
    color:  #000000;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 2px;
}
#menu:hover{
    color: #4d004d;
    font-size: 18pt;
    font-weight: bold;
}
#menu:active{
    color:#990099;
}
#menu:focus{
    color: #FFFFFF;
    font-size: 18pt;
    font-weight: bold;
}
ul{
    position: absolute;
    text-decoration: none;
    float: right;
}
li a {
		display: block;
        position:absolute;
        z-index: 500;
		width:100%;
		background:#dddddd;
		text-decoration: none;
        right: 0px;
        left: auto;
	}
/**/


li:last-child {
	border-right:none;
}

/*
    position: relative;
    position: fixed;
    width: 100%;
    height: 25px;
    padding-bottom: 0px;
    bottom: 0px;*/
#txtHeader{
    background-color: #666699;
    position: relative;
    position: fixed;
    width: 100%;
    padding-top: 0px;
    top: 0px;
    height: 37px;
    z-index: 1;
}
#txtRoute{
    text-align: center;
}
.icon{
    pointer-events: none;
}
#linkHome{
    position: relative;
    float: left;
    display: inline-block;
    left: 0px;

}
#imgHome{
    height: 28px;
    width: 28px;
    margin-top: 4px;
    margin-left: 10px;
}
#searchBox{
    float: left;
    display: inline-block;
    position: relative;

}
#searchInput{
    display: inline-block;
    font-size: 16pt;
    vertical-align: middle;
    margin-left: 20px;
    float: left;
    text-align:right;
    font-style: italic;
}
#searchInput:focus{
    color:black;
    font-style: normal;
}
#btnSearch{
    display: inline-block;
    margin-left: 0px;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16pt;
}

th{
    font-size: 14pt;
}
#btnAddNewRow{
    display: inline-block;
    position: relative;
    top:auto;
    margin-left: 50px;
    float: left;
    }
#txtViewAs{
    font-size: 14pt;
    color: white;
    display: inline-block;
    position: relative;
    margin-left: 50px;
}
#basicNav{
    display: inline-block;
    float: right;
    position: relative;
    text-decoration: none;
    right: 60px;
}
#dropDown{
    display: inline-block;
    position: relative;
    float: right;
    text-decoration: none;
    right: 30px;
}
#btnLogin:hover{
    background-color: #ba554c;
    color: black;
}
#userButton{
    width: 25px;
    height: 25px;
}
#userAccount{
    position: relative;
    margin-left: 20px;
}
#userAccount:active{
    text-shadow: 0 0 3px #FF0000;
}
#btnLogout:hover{
    color: black;
}
body{
 }
#currentPage{
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    text-align: center;
    height: 92vh;
    min-height: 500px;
    min-width: 400px;
    width: 100%;
    margin-top: 37px;
}
#txtContent{

    max-width: 800px;
    margin: auto;
}
#txtFooter{
    background-color: #666699;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 25px;
    padding-bottom: 0px;
    bottom: 0px;
}

#leftFooter{
    display: inline;
    color: #3d3d5c;
    position: relative;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    padding: 2px;
}
#txtCopyright{
    display: inline;
    font-weight: bold;
}
#rightFooter{
    display: inline;
    vertical-align: middle;
    position: relative;
    float: right;
    padding: 2px;
    margin-right: 20px;
}
a.footer-link{
    color: #f0f0f5;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
}
a.footer-link:hover{
    text-decoration: underline;
}
