<!DOCTYPE html>
<html>
<head>
    <title>Quizinaire</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/table_design.css">
    <link rel="stylesheet" href="../css/header-footer.css">
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header id="txtHeader">
        <!--General links div-->
        <a id="linkHome" href="../index.html">
            <img src="../images/home.png" id="imgHome">
        </a>
        <div id="searchBox">
            <input type:="text" id="searchInput" class="disabled" placeholder="Search...">

        </div>
        <button id="btnAddNewRow" class="btn" onclick="addRow()">Add new TODO</button>
        <div id="txtViewAs" class="hide">
            <button class="btn btn-default">View As:</button>
            <button class="btn btn-success hide">Admin</button>
            <button class = " btn btn-warning hide">Super Admin</button>
            <button class = "btn btn-info hide">User</button>
        </div>
        <div id = "dropDown" class = "nav">
            <ul  id="nav" class="nav">
                <li><a id="btnLogin" class = " btn-danger" href="../index.html">
                    Login
                </a>
            </li>

                <li >
                    <a id="txtDatabase" href= "../database_management.html" class="a-btn">Database</a>
                </li>
                <li>
                    <a id="txtTest" href= "../test.html" class="a-btn">Test</a>
                </li>
                <li>
                    <a id="txtStatus" href= "../status.html" class="a-btn">Status</a>
                </li>
                <li>
                    <a id = "txtFaq" href="../faq.html" class ="a-btn">FAQ</a>
                </li>

                <li>
                    <a id = "txtAbout" href="../about.html" class ="a-btn">About</a>
                </li>

                <li>
                    <a id = "txtContact" href="../contact.html" class ="a-btn">Contact</a>
                </li>
                <li>
                    <a id="btnLogout" class = "btn btn-warning disabled hide">
                        Logout
                    </a>
                </li>
            </ul>
        </div>

        <div id="basicNav">
            <a id="btnSignUp" class= "btn btn-primary " href="../signup.html">
                Sign Up
            </a>

            <a id="userAccount" class="disabled" href="../account.html">
                <img  id="userButton" src="../images/logo_user.png" >
            </a>
        </div>

    </header>

    <!--Shown if Logged In-->
    <div id="currentPage">
        <h1 id="txtRoute">Routes</h1>


        <div id="txtContent">
            <table id="myTable">
                <tr>
                    <th class="tblColumnTodo" width="140px;">
                        Template TODOs
                    </th>

                    <th width="350px">
                        Description
                    </th>

                    <th width="140px">
                        Action
                    </th>

                </tr>
				<tr>
                    <td>
                        <strong>&#9776;</strong><br><em> (hover/styling)</em>
                    </td>

                    <td>
                        The &#9776; symbole doesn't maintain color when not hovering. There should be a
						layout for <em>hover</em>, <em>active</em>, and <em>inactive</em>.

                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Dropdown</strong><br><em>(functionality)</em>
                    </td>

                    <td>
                        The dropdown should cascade up and down when active/inactive.
                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Media Queries</strong>
                    </td>

                    <td>
                        I haven't even STARTED adjusting the page depending on browser, viewport size, handheld devices etc.
                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Footer/Content</strong><em> (position)</em>
                    </td>

                    <td>
                        lock the footer to the bottom of the page without overlapping content.
						This may require a change to the content div.

                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Searchbox</strong><em> (graphic)</em>
                    </td>

                    <td>
                        I want to use a magnifying glass for the search option
                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Searchbox<strong> <em>(flex)</em>
                    </td>

                    <td>
                        I want to have the input change size depending on viewport and if it's active.

                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>View As..</strong><br><em>(Account Types)</em>
                    </td>

                    <td>
                        Create working dropdown menu for <strong>user</strong>,
                         <strong>admin</strong>,
                         and <strong>super admin</strong> account types.

                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Edit/Delete</strong> <em>(functionality)</em><br>
                        <br>
                        <em>Note:</em> This is very important to fix because it is the base for my database manipulation.
                    </td>

                    <td>
                        <span>
                            1. q<strong>Edit</strong> button toggles on <strong>finished</strong> button, and <strong>change todo</strong>
                            / <strong>change description</strong> inputs in its same row.<br>
                            2. <strong>Finished</strong> button does not allow null entries.<br>
                            3. <strong>Finished</strong> button prompts <em>alert window</em> to user for confirmation of changes.<br>
                            4. If no changes are made, no alert window, and editing features are toggled off.<br>
                            5. If changes are made and confirmed, changes are submitted and made.<br>
                            6. <strong>Delete</strong> button prompts <em>"Are you sure you want to delete TODO:{{content}}?"</em> window.<br>
                            7. That window submits or cancels the delete request.
                        </span>
                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Add new TODO</strong><em> (functionality)</em>
                    </td>

                    <td>
                        Almost finished, it just doesn't permanently change the page yet.<br>
                        create an alert window with cancel/submit/entry fields?
                    </td>

                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
				<tr>
                    <td>
                        <strong>Add new TODO</strong><em> (positioning)</em>
                    </td>

                    <td>
                        Position btnAddNewRow in the center of the toolbar.
                    </td>
                    <td>
						<button href="" class="btn disabled"> Edit</button>
						<button href="" class="btn disabled"> Delete</button>

                    </td>
                </tr>
            </table>
        </div>
		<br>
    </div>
    <script>
        function deleteRow(){
            document.getElementById("myTable").deleteRow(1);
        }
        function addRow() {
            var table = document.getElementById("myTable");
            var row = table.insertRow(1);
            var todo = row.insertCell(0);
            var description = row.insertCell(1);
            var mod = row.insertCell(2);
            <!--//todo.selectAttribute("id","todoCell");-->
            todo.innerHTML = "<button id='newTodo'class='btn' onclick='newTodo()'>New TODO</button>";
            description.innerHTML = "<button id='newDesc' class='btn' onclick='newDesc()'>New Description</button>";
            mod.innerHTML = '<button href="" class="btn disabled"> Edit</button><button href="" class="btn" onclick="deleteRow()"> Delete</button>';
        }
        function newTodo(){
            <!--////var todo = getElementById("todoCell");-->
            var newTodo = document.getElementById("newTodo");
            newTodo.classList.add("hide");
            //todo.innerHTML = "<button id='submitTodo'class='btn' onclick='todoSubmit()'>Submit TODO</button>";
        }
        function newDesc(){
            var newDesc = document.getElementById("newDesc");
            //todo.innerHTML = "<button id='submitDesc'class='btn' onclick='todoSubmit()'>Submit Description</button>";
            newDesc.classList.add("hide");

        }
    </script>
    <footer id="txtFooter">
        <div id="leftFooter">
            <p id="txtCopyright">
                &copy; 2017
            </p>
        </div>
        <div id="rightFooter" >
            <a id = "txtPricing" href="../pricing.html" class="footer-link">
                Pricing Info
            </a>
            <a id = "txtTerms" href="../terms.html" class="footer-link">
                Terms of Use
            </a>

            <a id = "txtContact" href="../feedback.html" class="footer-link">
                Feedback
            </a>

            <a id= "txtPrivacy" href="../privacy.html" class="footer-link">
                Privacy
            </a>
        </div>
    </footer>

    <!--This will be the base script to load after authentication is done.
        It should handle everything in between I guess
    -->

<script type="text/javascript">
	$("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
            $("#nav").toggle();
	$("#menu").click( function(){
    $("#nav").toggle();
        $("#nav").addClass("menu");
        $("#nav").removeAttr("style");
	});
    $("#dropDown").hover( function(){

        $("#nav").removeAttr("style");
            $("#nav").toggle();

	});
	$(window).resize(function(){
		if(window.innerWidth > 768) {
			$("#nav").removeAttr("style");
                $("#nav").toggle();
		}
	});
</script>
    <script type="text/javascript" src="../scripts/quizinaire.js"></script>
</body>
</html>
